<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Signin Page</title>
    <!--<link rel="Shortcut Icon" href="../../Content/images/ebay_bowling_ico.png" />-->
    <link href="http://bootstrapk.com/BS3/dist/css/bootstrap.css" rel="stylesheet">
    <link href="http://bootstrapk.com/BS3/examples/signin/signin.css" rel="stylesheet">

  <meta http-equiv="content-language" content="ko">
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <title>Toy Project - Bowling</title>
  <script src="/bower_components/angular/angular.js"></script>
</head>
 <body data-ng-app="signInApp">

    <div class="container" data-ng-controller="SignInCtrl as siCtrl">
      <div align="center"><img width="300px" src="/content/images/ebay_bowling.png"></div>
      <hr />
        <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" placeholder="Email address" autofocus data-ng-model="siCtrl.userId" required>
        <input type="password" class="form-control" placeholder="Password" data-ng-model="siCtrl.pwd" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <div class="btn-group btn-block">
            <button class="btn btn-lg btn-primary" type="submit" style="width:50%" data-ng-click="siCtrl.signIn(siCtrl.userId,siCtrl.pwd)">Sign in</button>
            <button class="btn btn-lg btn-info" type="button" style="width:50%" onclick="location.href='/signUp'">Sign up</button>
        </div>

        </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>

<script>
  var app = angular.module('signInApp', []);


  // angular service.
  // UI independent logic
  app.provider('signInService', function () {

    function SignInService($http) {
      this.signIn = function (userId,pwd) {
        return $http({
          method: 'POST',
          url: 'signIn/',
          data: {userId:userId, pwd:pwd}
        });
      }
      
    }

    return {
      $get: function ($http) {
        return new SignInService($http);
      },
    }
  });


  // angular controller.
  // bind model <-> html
  app.controller('SignInCtrl', function ($scope, signInService) {
    var self = this;

    this.signIn = function (userId,pwd) {
        //console.log(userId+pwd);
        signInService.signIn(userId,pwd).then(function (res) {
            if(res.data){
                alert("로그인 성공");
                window.location = '/gameView/'+userId;
                //$cookies.userId = userId;
            }else{
                alert("존재하지 않는 ID이거나 비밀번호가 일치하지 않습니다.");
            }

            console.log(res.data);
        });
    };
  });


</script>