body {

}

.form-changepass {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-changepass .form-changepass-heading,
.form-changepass .checkbox {
  margin-bottom: 10px;
}
.form-changepass .checkbox {
  font-weight: normal;
}
.form-changepass .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-changepass .form-control:focus {
  z-index: 2;
}
.form-changepass input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-changepass input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}